<html>
<body bgcolor="#FFFFFF">
	<table border=1 style="background-color:white;padding: 1px;  width: 100%;" bgcolor="#FFFFFF">
		<tr height="35px">
			<td colspan="5" align="center" bgcolor="#57F791"><b>DISPLAY : GL-INBOUND</b></td>
		</tr>
		<tr height="35px">
			<td align="center">CLICLE_DT</td>
			<td align="center">JOB_NAME</td>
			<td align="center">JOB_START</td>
			<td align="center">JOB_END</td>
			<td align="center">START_JOB</td>
		</tr>
		<tr height="35px">
			<td align="center" >28/04/2021</td>
			<td align="center">GL-Inbound</td>
			<td align="center">28/04/202 21:00:00</td>
			<td align="center">28/04/202 22:00:00</td>
			<td align="center">Finish</td>
		</tr>
	</table>
</body>
</html>